body {
    background-color:yellow;
    font-family:sans-serif;
}


.date {
    text-align:center;
}

.back, .invite {
    font-size:35px;
    display:flex;
    justify-content: center;
    align-items:center;
}
a:hover {
    color:red;
}

footer {
    margin-top:15px;
    font-family:sans-serif;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
  .rainbow2 {
    text-shadow:-4px 4px #ef3550, -8px 8px #f48fb1, -12px 12px #7e57c2, -16px 16px #2196f3, -20px 20px #26c6da, -24px 24px #43a047, -28px 28px #eeff41, -32px 32px #f9a825, -36px 36px #ff5722;
    letter-spacing: 0.15rem;
    color:white;
    font-weight:bolder;
    font-size:25px;
    font-family:sans-serif;
}

.tags {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:10px;
}

.imagecontent {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.imagecontent img {
  height:370px;
  margin-bottom:15px;
  border-radius:15px;
}
